# Backend
backend/target/
backend/data/
*.class
*.jar

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# IDE
.idea/
.vscode/
*.iml

# Firebase
.firebase/
frontend/.firebaserc

# OS
.DS_Store
Thumbs.db
